NEXT_PUBLIC_MAPBOX_TOKEN=
RESEND_API_KEY=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
NEXT_PUBLIC_SPREADSHEET_ID=1mhdznnNPulrgy4lI7RjGSjdH-kmuNhBD6s2L2zASbSQ
NEXT_PUBLIC_COUNTRY_CODE=us
NEXT_PUBLIC_CALENDLY_URL=https://calendly.com/bert-groundmounts/new-meeting
NEXT_PUBLIC_VERCEL_URL=
